# NVIDIA模型配置
NVIDIA_API_KEY=nvapi-J-**********************8
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
NVIDIA_EMBEDDING_MODEL="nvidia/llama-nemotron-embed-1b-v2"
NVIDIA_RERANK_MODEL="nv-rerank-qa-mistral-4b:1"
NVIDIA_CHAT_MODEL="deepseek-ai/deepseek-v4-pro"


# langsmith的配置信息
# 是否启用Langsmith监控功能
LANGSMITH_TRACING=true
# Langsmith监控WebUI地址
LANGSMITH_ENDPOINT=https://api.smith.LangChain.com
# 创建的API_KEY
LANGSMITH_API_KEY=lsv2_pt_******************************
# 自定义项目名称，可以在Langsmith WebUI监控页面根据名称查看对应的运行记录
LANGSMITH_PROJECT="mytest"
